html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
body {
  margin: 0;
  font-family: "Barlow Semi Condensed", sans-serif;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.nav-main {
  margin: 0;
  padding: 0;

  display: flex;
  flex-direction: column;
  align-items: center;

  text-align: center;
}
.nav-items {
  margin: 0;
  padding: 0;
  width: 100%;
}
#nav a {
  display: block;
  padding: 10px;
  background-color: orange;
  color: white;
  text-transform: uppercase;
  font-weight: 600;
}
#nav a:hover {
  background-color: white;
  color: orange;
}
header {
  position: relative;
  background-image: url("../images/Fresh_Brewed_Coffee.jpeg");
  height: 400px;

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.header-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
header h1 {
  padding: 0;
  margin: 0;
  color: white;
  font-weight: 600;
  font-size: 2.5em;
  text-shadow: 5px 10px 12px #333333;
}
.whoweare {
  display: flex;
  flex-flow: column nowrap;
}
.img-wrapper {
  width: 20em;
  padding: 20px;
  margin: 0 auto;
}
.img-wrapper img {
  display: block;
  max-width: 100%;
  margin: 0 auto;
  border-radius: 50%;
}
.whoweare-content {
  width: 20em;
  margin: 0 auto;
  text-align: center;
}
.whoweare-content h2 {
  margin: 0;
  padding: 0;
}
