html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
body {
  margin: 0;
  font-family: "Barlow Semi Condensed", sans-serif;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.nav-main {
  margin: 0;
  padding: 0;

  display: flex;
  flex-direction: column;
  align-items: center;

  text-align: center;
}
.nav-items {
  margin: 0;
  padding: 0;
  width: 100%;
}
#nav a {
  display: block;
  padding: 10px;
  background-color: orange;
  color: white;
  text-transform: uppercase;
  font-weight: 600;
}
#nav a:hover {
  background-color: white;
  color: orange;
}
header {
  position: relative;
  background-image: url("../images/Fresh_Brewed_Coffee.jpeg");
  height: 400px;
  margin-bottom: 50px;

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.header-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
header h1 {
  padding: 0;
  margin: 0;
  color: white;
  font-weight: 600;
  font-size: 2.5em;
  text-shadow: 5px 10px 12px #333333;
  text-align: center;
}
#whoweare {
  display: flex;
  flex-flow: column nowrap;
  margin-bottom: 30px;
}
.img-wrapper {
  width: 20em;
  margin: 0 auto;
  padding: 20px;
}
.img-wrapper img {
  display: block;
  max-width: 100%;
  margin: 0 auto;
  border-radius: 50%;
}
.whoweare-content {
  width: 20em;
  margin: 0 auto;
  padding: 0;
  text-align: center;
}
.whoweare-content h2 {
  margin: 0;
  padding: 0;
}
#coffee {
  display: flex;
  flex-flow: column nowrap;
  margin-bottom: 50px;
  padding: 0;
}
.coffee-h2 {
  width: 20em;
  margin: 0 auto;
  padding: 0;
  text-align: center;
}
.coffee-img-wrapper {
  width: 20em;
  margin: 0 auto;
  padding: 20px;
}
.coffee-img-wrapper img {
  display: block;
  max-width: 100%;
  margin: 0 auto;
  border-radius: 50%;
}
.coffee-content {
  width: 20em;
  margin: 0 auto;
  text-align: center;
  padding-bottom: 20px;
}
.fair-trade {
  width: 20em;
  margin: 0 auto;
  text-align: center;
  padding: 0;
}
.fair-trade-content h3 {
  margin: 0;
  padding: 0;
}
#bakery {
  margin-bottom: 50px;
}
#bakery h2 {
  margin: 0;
  padding: 0;
  text-align: center;
}
.gallery {
  width: 90%;
  margin: 20px auto;

  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}
.gallery-img-wrapper-one {
  width: 200px;
  height: 200px;
  box-shadow: 5px 10px 12px #39393944;
  margin: 15px auto;

  background-image: url(../images/chocolate-glaze.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.gallery-img-wrapper-two {
  width: 200px;
  height: 200px;
  box-shadow: 5px 10px 12px #39393944;
  margin: 15px auto;

  background-image: url(../images/baked-sprinkle-donuts-recipe.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.gallery-img-wrapper-three {
  width: 200px;
  height: 200px;
  box-shadow: 5px 10px 12px #39393944;
  margin: 15px auto;

  background-image: url(../images/Cardamom_pear_pasteris.webp);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.gallery-img-wrapper-four {
  width: 200px;
  height: 200px;
  box-shadow: 5px 10px 12px #39393944;
  margin: 15px auto;

  background-image: url(../images/french_cruller.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.gallery-img-wrapper-five {
  width: 200px;
  height: 200px;
  box-shadow: 5px 10px 12px #39393944;
  margin: 15px auto;

  background-image: url(../images/cinnamon_tiwst.JPG);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.gallery-img-wrapper-six {
  width: 200px;
  height: 200px;
  box-shadow: 5px 10px 12px #39393944;
  margin: 15px auto;

  background-image: url(../images/Lemon-Filled-Donut.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.gallery-img-wrapper-seven {
  width: 200px;
  height: 200px;
  box-shadow: 5px 10px 12px #39393944;
  margin: 15px auto;

  background-image: url(../images/Old-Fashioned-Buttermilk-Donuts.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.gallery-img-wrapper-eight {
  width: 200px;
  height: 200px;
  box-shadow: 5px 10px 12px #39393944;
  margin: 15px auto;

  background-image: url(../images/plane_donuts.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.gallery-img-wrapper-nine {
  width: 200px;
  height: 200px;
  box-shadow: 5px 10px 12px #39393944;
  margin: 15px auto;

  background-image: url(../images/Raspberry-Cream-Cheese-Pastries.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.gallery-img-wrapper-ten {
  width: 200px;
  height: 200px;
  box-shadow: 5px 10px 12px #39393944;
  margin: 15px auto;

  background-image: url(../images/valrhona_chocolate_croissants.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.gallery-img-wrapper-eleven {
  width: 200px;
  height: 200px;
  box-shadow: 5px 10px 12px #39393944;
  margin: 15px auto;

  background-image: url(../images/white_chocolate_mousse_pasteries.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
footer {
  background-color: #abc4ab;
  color: #ffffff;
  margin: 0;
  padding: 2%;

  display: flex;
  flex-flow: row nowrap;
  justify-content: space-evenly;
  align-items: center;
  flex: 0 1 auto;
}
.footer-content a {
  color: #ffffff;
}
.footer-content a:hover {
  color: #6d4c3d;
}
.footer-content h4 {
  margin: 0;
  padding: 0;
}
.footer-content li {
  margin: 0;
  padding: 0;
}
.footer-icon {
  font-size: 1.3em;
  color: #6d4c3d;
}
.footer-icon:hover {
  color: #ffffff;
}
.copy {
  background-color: #727d71;
  padding: 5px;
  color: #fff;
  font-weight: 600;
  font-size: 0.8em;
  text-align: center;
}
.contact {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-content: center;
}
.icon {
  font-size: 3em;
  padding: 20px;
  color: orange;
}
.icon:hover {
  color: darkorange;
}
.phone a {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
}
.phone a div {
  font-size: 1.5em;
}
.social {
  display: flex;
  flex-flow: row wrap;
}
.map {
  margin: 50px auto;
  display: flex;
  justify-content: center;
}
