html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
body {
  margin: 0;
  font-family: "Barlow Semi Condensed", sans-serif;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.nav-main {
  margin: 0;
  padding: 0;

  display: flex;
  flex-direction: column;
  align-items: center;

  text-align: center;
}
.nav-items {
  margin: 0;
  padding: 0;
  width: 100%;
}
#nav a {
  display: block;
  padding: 10px;
  background-color: #abc4ab;
  color: #ffffff;
  text-transform: uppercase;
  font-weight: 300;
}
#nav a:hover {
  background-color: #ffffff;
  color: #abc4ab;
}
header {
  position: relative;
  background-image: url("../images/Fresh_Brewed_Coffee.jpeg");
  height: 400px;

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.header-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
header h1 {
  padding: 0;
  margin: 0;
  color: white;
  font-weight: 800;
  font-size: 5em;
  text-shadow: 5px 10px 12px #333333;
  text-align: center;
}
#whoweare {
  background-color: #a39171;
  color: #ffffff;
  padding: 30px 0;

  display: flex;
  flex-flow: column nowrap;
}
.img-wrapper {
  width: 20em;
  margin: 0 auto;
  padding: 20px;
}
.img-wrapper img {
  display: block;
  max-width: 100%;
  margin: 0 auto;
  border-radius: 50%;
}
.whoweare-content {
  width: 20em;
  margin: 0 auto;
  padding: 0;
  text-align: center;
}
.whoweare-content h1 {
  margin: 0;
  padding: 0;
}
#coffee {
  background-color: #dcc9b6;
  color: #6d4c3d;
  padding: 30px 0;

  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}
#coffee h1 {
  margin: 0;
  padding: 0;
  text-align: center;
}
.coffee-img-wrapper {
  width: 20em;
  margin: 0 auto;
  padding: 30px;
}
.coffee-img-wrapper img {
  display: block;
  max-width: 100%;
  margin: 0 auto;
  border-radius: 50%;
}
.coffee-content {
  width: 20em;
  margin: 0 auto;
  padding-bottom: 20px;
  text-align: center;
}
.coffee-content p {
  margin: 0;
  padding: 0;
}
.fair-trade {
  width: 20em;
  margin: 0 auto;
  text-align: center;
}
.fair-trade-content h3 {
  margin: 0;
  padding: 0;
}
#bakery {
  background-color: #a39171;
  color: #ffffff;
  padding: 30px 0;
}
#bakery h1 {
  margin: 0;
  padding-bottom: 20px;
  text-align: center;
}
.gallery {
  width: 90%;
  margin: 0 auto;

  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}
.gallery-content {
  position: relative;
  margin: 15px auto;
  box-shadow: 5px 10px 12px #39393944;
}
.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 20px;
  opacity: 0;
  background-color: #727d7180;
  transition: all 200ms ease-in-out;
}
.overlay:hover {
  opacity: 1;
}
.overlay a {
  position: absolute;
  color: #ffffff;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.overlay h4 {
  font-weight: 300;
}
.gallery-img-wrapper-one {
  width: 200px;
  height: 200px;

  background-image: url(../images/chocolate-glaze.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.gallery-img-wrapper-two {
  width: 200px;
  height: 200px;

  background-image: url(../images/baked-sprinkle-donuts-recipe.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.gallery-img-wrapper-three {
  width: 200px;
  height: 200px;

  background-image: url(../images/Cardamom_pear_pasteris.webp);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.gallery-img-wrapper-four {
  width: 200px;
  height: 200px;

  background-image: url(../images/french_cruller.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.gallery-img-wrapper-five {
  width: 200px;
  height: 200px;

  background-image: url(../images/cinnamon_tiwst.JPG);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.gallery-img-wrapper-six {
  width: 200px;
  height: 200px;

  background-image: url(../images/Lemon-Filled-Donut.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.gallery-img-wrapper-seven {
  width: 200px;
  height: 200px;

  background-image: url(../images/Old-Fashioned-Buttermilk-Donuts.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.gallery-img-wrapper-eight {
  width: 200px;
  height: 200px;

  background-image: url(../images/plane_donuts.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.gallery-img-wrapper-nine {
  width: 200px;
  height: 200px;

  background-image: url(../images/Raspberry-Cream-Cheese-Pastries.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.gallery-img-wrapper-ten {
  width: 200px;
  height: 200px;

  background-image: url(../images/valrhona_chocolate_croissants.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.gallery-img-wrapper-eleven {
  width: 200px;
  height: 200px;

  background-image: url(../images/white_chocolate_mousse_pasteries.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
footer {
  background-color: #abc4ab;
  color: #ffffff;
  margin: 0;
  padding: 2%;

  display: flex;
  flex-flow: row nowrap;
  justify-content: space-evenly;
  align-items: center;
  flex: 0 1 auto;
}
.footer-content a {
  color: #ffffff;
}
.footer-content a:hover {
  color: #6d4c3d;
}
.footer-content h4 {
  margin: 0;
  padding: 0;
  font-weight: 300;
}
.footer-content li {
  margin: 0;
  padding: 0;
}
.footer-icon {
  font-size: 1.3em;
  color: #6d4c3d;
}
.footer-icon:hover {
  color: #ffffff;
}
.copy {
  background-color: #727d71;
  padding: 5px;
  color: #fff;
  font-weight: 600;
  font-size: 0.8em;
  text-align: center;
}
#menu {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;

  margin: 0 auto;
  background-color: #dcc9b6;
  color: #6d4c3d;
}
#menu h2 {
  margin: 0;
  padding: 30px;
  text-align: center;
}
.menu-img-wrapper {
  width: 20em;
  height: 20em;
  border-radius: 50%;

  background-image: url(../images/cappuccino.jpg);
  background-size: cover;
  background-position: right;
  background-repeat: no-repeat;
}
.menu-steps ol {
  margin: 0;
  padding: 30px;
}
.menu-items {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;

  padding-bottom: 30px;
}
.menu-items h4 {
  margin: 0;
  padding: 0;
}
.menu-coffee {
  margin: 0 auto;
  padding-bottom: 30px;
  width: 15em;
}
.coffee-sizes {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
}
.coffee-sizes ul li::first-line {
  font-size: 1.2em;
}
.menu-other {
  margin: 0 auto;
  width: 15em;
}
.other-prices {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
}
.other-prices ul li::first-line {
  font-size: 1.2em;
}
#contact {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-content: center;
  align-items: center;

  background-color: #dcc9b6;
  padding: 15px;
}
.contact-content {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}
.icon {
  font-size: 3em;
  padding: 15px;
  color: #6d4c3d;
}
.icon:hover {
  color: #ffffff;
}
.map {
  padding: 15px;
}
