@media screen and (min-width: 320px) {
}
@media screen and (min-width: 720px) {
  .nav-main {
    flex-direction: row;
  }
  #whoweare {
    flex-flow: row wrap;
  }
  .img-wrapper {
    width: 50%;
    padding: 30px;
  }
  .whoweare-content {
    width: 50%;
    text-align: left;
    padding: 0 20px;

    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  #coffee {
    flex-flow: row wrap;
  }
  #coffee h1 {
    width: 100%;
  }
  .coffee-img-wrapper {
    width: 25%;
    padding: 0 30px;
  }
  .coffee-content {
    width: 30%;
    text-align: left;
    padding: 0;

    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .fair-trade {
    width: 30%;

    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .fair-trade-content {
    text-align: left;
    padding: 0;
  }
}
